---
interface Props {
	title: string;
	body: string;
	href: string;
	img:string;
}

const { href, title, body, img } = Astro.props;
---
<main id="contenedor" class="flex justify-between  h-[15vh] w-full text-ellipsis rounded-md mb-3  hover:-translate-y-1 hover:shadow-md transition ease-in border-2">
	<li class="grid grid-rows-2 z-10 w-[150%] list-none  transition-[transform] duration-500  ease-in-out text-ellipsis overflow-hidden">
		<a href={href}>
			<h2 class="text-2xl">
				{title}
			</h2>
			<p>
				{body}
			</p>
		</a>
		<button class="bg-violet-700 w-full pointer rounded-b-md" id="mostrar">Mostrar mas</button>
	</li>
	<div class="w-full flex items-center justify-center">
		<span class="hidden">&rarr;</span>
		<img src={img} class="h-full w-full border-2" alt={title}>
	</div>
	<div id="modal" class="hidden z-30 w-screen h-screen bg-black fixed top-0 left-0 bottom-0 right-0">
		<div class=" w-[90%] mt-24 mx-auto" >
			<h1 class="text-3xl mb-4">{title}</h1>
			<div class="h-[40%] w-full">
				<img src={img} alt={title} class="w-full h-full ">
			</div>
			<p>{body}</p>
		</div>
	</div>
</main>

<style>

</style>
<script >

  

	  const mostrar = document.getElementById('mostrar');
	  const modal = document.getElementById('modal');
	  const contenedor = document.getElementById('contenedor');
  
	  
	  mostrar?.addEventListener('click', (e) => {
		if (contenedor && modal ) {
			modal.style.display = 'block'
			contenedor.style.display = 'node'
			console.log('ejecutado');
		}
	  });
  </script>
