---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="Astro description" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>{title}</title>
	</head>
	<body class="overflow-x-hidden">
		<header class=" z-[400] sticky top-0 left-0  w-screen bg-gradient-to-r nav from-[#270e49] to-[#d6bbf8] h-20 text-white p-4 flex items-center justify-between">
			<a href="http://localhost:4321" class="logo z-[9999]">
				<h3 class="text-gradient">Juan-Moreno</h3>
			</a>
			
			<div class="h-full sm:hidden">
				<a href="#" class="h-full" id="open">
					<img class="h-full" src="../../public/menu.png" class="nav_icon" >
				</a>
				<a href="#" class="h-full hidden close" id="close">
					<img class="h-full" src="../../public/cross.png" alt="">
				</a>
			</div>
			<div class="hidden  fixed top-20 left-0 right-0 bottom-0 z-[9999] bg-[rgba(0,0,0,.5)] w-screen h-screen transition ease-in" id="fondo">
				<nav class=" z-[9999] grid fixed h-[calc(60vh-60px)]  top-20 bottom-0 right-0 place-items-center bg-[rgb(0,0,0)] clipeado transition ease-in" id="menu">
					<a href="http://localhost:4321/sobreMi" class="nav__link text-3xl w-full h-full  text-center hover:bg-slate-700   border-b-2 text-white">sobre mi</a>
					<a href="https://github.com/Masterkey-DEV" class="nav__link text-3xl w-full h-full  text-center hover:bg-slate-700  border-b-2 text-white">proyectos</a>
					<a href="https://www.linkedin.com/in/el-mejor-dev-para-ti/" class="nav__link text-3xl w-full h-full  text-center hover:bg-slate-700  border-b-2  text-white">reclutame</a>
					</nav>
				</div>
				<nav class=" nav-bar hidden  sm:flex flex-row z-[9999] h-full items-center justify-between bg-gradient-to-r to-purple-500 from-purple-300 text-transparent bg-clip-text " id="menu">
					<a href="http://localhost:4321/sobreMi" class=" text-white mx-2 z-[9999]">sobre mi</a>
					<a href="https://github.com/Masterkey-DEV" class=" text-white mx-2 z-[9999]">proyectos</a>
					<a href="https://www.linkedin.com/in/el-mejor-dev-para-ti" class=" text-white mx-2 z-[9999]">reclutame</a>
				</nav>
				<div id="menu-backdrop" class="
				absolute bg-black/5  rounded
				left-[var(--left)] top-[var(--top)]
				w-[var(--width)] h-[var(--height)]
				transition-all duration-300 ease-in-out opacity-0 z-0
				
			"></div>
			</header>
			<slot />
			<footer class="hidden sm:block h-auto mt-4 bg-sky-950   text-white p-4  text-center">
				<ul class="flex items-center justify-between text-sky-300  ">
					<li>
						<a href="">Hecho por: <span class="text-gradient">Juan Sebastian Moreno</span></a>
					</li>
					<li>
						<a href="">Lenguajes y frameworks usados: </a>
						<div class="flex">
							<img src="https://img.shields.io/badge/HTML5-E34F26?style=for-the-badge&logo=html5&logoColor=white" alt="">
							<img src="https://img.shields.io/badge/CSS3-1572B6?style=for-the-badge&logo=css3&logoColor=white" alt="">
							<img src="https://img.shields.io/badge/Tailwind_CSS-38B2AC?style=for-the-badge&logo=tailwind-css&logoColor=white" alt="">
							<img src="https://img.shields.io/badge/Astro-4285F4?style=for-the-badge&logo=google-cloud&logoColor=white" alt="">
							<img src="" alt="">
						</div>
					</li>
				</ul>
			</footer>
		</body>
		</html>
<script>
	const nav = document.getElementById('menu')
	const xClose = document.getElementById('close')
	const hamburguesa = document.getElementById('open')
	const fondo = document.getElementById('fondo')
	hamburguesa?.addEventListener('click',()=>{
		hamburguesa.classList.add('desaparecer');
		nav?.classList.add('abierto')
		xClose?.classList.add('aparecer')
		fondo?.classList.add('aparecer')
		
	})
	xClose?.addEventListener('click',()=>{

		hamburguesa?.classList.remove('desaparecer');
		nav?.classList.remove('abierto')
		xClose?.classList.remove('aparecer')
		fondo?.classList.remove('aparecer')
	})
	fondo?.addEventListener('click',()=>{

		hamburguesa?.classList.remove('desaparecer');
		nav?.classList.remove('abierto')
		xClose?.classList.remove('aparecer')
		fondo?.classList.remove('aparecer')
	})
	////////////////////////////////////////////////////////////////////////////
	const listItem = document.querySelectorAll('.nav-bar a, .logo');
				const menuBackdrop = document.querySelector('#menu-backdrop');
				let timeoutId;
			
				listItem.forEach((item) => {
					item.addEventListener('mouseenter', () => {
						const { left, top, width, height, clientHeight, clientWidth } = item.getBoundingClientRect();
			
						menuBackdrop.style.setProperty("--left", `${left}px`);
						menuBackdrop.style.setProperty("--top", `${top}px`);
						menuBackdrop.style.setProperty("--height", `${height}px`);
						menuBackdrop.style.setProperty("--width", `${width}px`);
			
						menuBackdrop.style.opacity = '1';
						menuBackdrop.style.visibility = 'visible';
			
						// Cancela cualquier timeout existente
						clearTimeout(timeoutId);
					});
			
					item.addEventListener('mouseleave', () => {
						// Espera 200 ms antes de ocultar el fondo
						timeoutId = setTimeout(() => {
							menuBackdrop.style.opacity = '0';
							menuBackdrop.style.visibility = 'hidden';
						}, 200);
					});
				});
			
				// Cancela el timeout si el mouse vuelve a entrar antes de que se oculte
				menuBackdrop.addEventListener('mouseenter', () => {
					clearTimeout(timeoutId);
				});
			
				// Oculta el fondo si el mouse sale completamente de la barra de navegación
				menuBackdrop.addEventListener('mouseleave', () => {
					menuBackdrop.style.opacity = '0';
					menuBackdrop.style.visibility = 'hidden';
				});
			</script>
</script>
<style is:global>
	:root {
		--accent: 136, 58, 234;
		--accent-light: 224, 204, 250;
		--accent-dark: 49, 10, 101;
		--accent-gradient: linear-gradient(
			45deg,
			rgb(var(--accent)),
			rgb(var(--accent-light)) 30%,
			white 60%
		);
	}

	html {
		font-family: system-ui, sans-serif;
		background: #13151a;
		background-size: 224px;
	}
	code {
		font-family:
			Menlo,
			Monaco,
			Lucida Console,
			Liberation Mono,
			DejaVu Sans Mono,
			Bitstream Vera Sans Mono,
			Courier New,
			monospace;
	}
	.clipeado{
		clip-path: circle(0% at top right);
		transition: clip-path .4s;
	}
	.clipeado.abierto{
		clip-path: circle(150% at top right);
		@apply w-[70%];
		transition: clip-path .4s;

	}
	.aparecer{
		display: block;
		transition: transform .4s;
	}
	.desaparecer{
		display: none;
		transition: transform .4s;
	}
	.text-gradient {
  background-image: linear-gradient(to right, #8B5CF6, #EC4899, #EF4444); /* Definición del gradiente */
  -webkit-background-clip: text; /* Define el área de aplicacion del background como el texto */
  background-clip: text;
  color: transparent; /* Hace el texto transparente */
}
</style>
